@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: var(--color-neutral-50);
  --foreground: var(--color-neutral-950);
  --color-neutral-200: #e5e5e5;
  --color-neutral-700: #404040;
}


.dark {
  --background: var(--color-neutral-950);
  --foreground: var(--color-neutral-50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-inter);
}